<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/newnotes.css' %}">
    <title>crear nota</title>
</head>
<body>
    <h1>Crea tu nueva nota</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder='Titulo de tu nota' name="title" id="title">
        <textarea placeholder='Contenido de la nota' name="content" id="content" cols="30" rows="10" style="resize: none;"></textarea>
        <input type="submit" class='sub' value="crear nueva nota">
    </form>
</body>
</html>